*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark .row .col img{
    width: 70px;
}

.ms_width_100{
    width: 100vw;
    left: -78px !important;
}

header .nav-link img{
    width: 10px;
}

header .chevron-hover{
    display: none;
}

.ms_btn{
    color: white;
    border-radius: 50px;
}

.ms_btn_grey{
    background-color: rgb(31, 31, 31);
}

.ms_btn_grey2{
    background-color: rgb(220, 220, 220);
    color: blue;
}

.ms_btn_orange{
    background-color: rgb(205, 61, 15);
}

.ms_btn_blue{
    background-color: blue;
}


.form-control{
    display: none !important;
}

.ms_jumbo{
    margin-top: 104px;
    background-image: url(img/jumbo-bg.png);
    min-height: 650px;
    background-size: cover;
    background-position: center;
}

.position-absolute img{
    width: 300px;
}

.ms_font_size{
    font-size: 40px;
}

img{
    width: 100%;
}

.ms_rounded{
    border-radius: 20px;
}

.ms_hidden{
    display: none;
}

.ms_jumbo2{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 650px;
    background-size: cover;
    background-position: center;
}

.ms_bg_grey{
    background-color: grey;
}

.ms_bg_blue{
    background-color: rgb(22, 28, 59);
}

.ms_logo{
    width: 300px;
}




