*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark .row .col img{
    width: 70px;
}

.ms_width_100{
    width: 100vw;
    left: -78px !important;
}

header .nav-link img{
    width: 10px;
}

header .chevron-hover{
    display: none;
}

.ms_btn{
    background: rgb(54, 54, 54);
    color: white;
    border-radius: 50px;
}

.ms_btn:hover{
}

.form-control{
    display: none !important;
}

.ms_jumbo{
    margin-top: 104px;
    background-image: url(img/jumbo-bg.png);
    min-height: 650px;
    background-size: cover;
    background-position: center;
}

.position-absolute img{
    width: 300px;
}

.ms_font_size{
    font-size: 50px;
}